*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Josefin Sans', sans-serif;
}

#root, #__next {
  isolation: isolate;
}


.container{
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  flex-direction: column;
  gap: 24px;
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}

nav{
  padding: 12px 24px;
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

.body{
  height: 100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

button{
  background-color: #886ac9;
  border: none;
  color: #fff;
  padding: 12px 16px;
  border-radius: 8px;
  font-size:18px;
  font-family: inherit;
}

.body button.connect-btn{
  width: 240px;
  height: 240px;
  border-radius: 50%;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 2px;
}

.phantom-status-container{
  display: flex;
  gap: 4px;
  align-items: center;
}

.phantom-status-container p{

}